* {margin: 0; padding: 0;}
body {
	background-image: url("bg.png");
	font-family: sans-serif;
}

.frame{
	background-color: rgba(0,128,0,0.4);
	margin: 0 auto;
	width: 620px;
	padding: 0px;
	padding-top: 20px;
	padding-bottom: 20px;}

	h1{
	background-color: rgba(0,32,0,0.4);
	line-height: 40px;
	padding: 20px;
	margin: 10px;
	margin-bottom: 30px;
	margin-top: 0px;
	padding-right: 10px;
	width: 570px;
}

h2 {
	line-height: 30px;
	padding: 5px;
	padding-left: 20px;
	padding-bottom: 9px;
	border: solid;
	border-color: purple;
	margin: 10px;
}

p{
	background-color: rgba(256,256,0,0.4);
	line-height: 20px;
	margin: 10px;
	padding: 10px;
}